@charset "UTF-8";
/**
 * 
 * @authors Zheng Liu (995170241@qq.com)
 * @date    2018-06-08 08:32:56
 * @version $Id$
 */
 
/*...头.....................................................*/
.border {
    border: 1px solid #000;
}

.head-row {
    width: 100%;
    min-width: 1000px;
    height: 60px;
    background: rgb(0, 0, 225, 0.2);
    background-image: url("../img/bg.jpg");
}

.head-row .container {
    min-width: 1000px;
}

.head-row .container .head {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.head-row .container .frosted-glass{
            width: 287px;
            height: 285px;
            background: inherit;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -ms-filter: blur(5px);
            -o-filter: blur(5px);
            filter: blur(5px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
        }

.head-row .container .head .head-box {
    margin-top: 15px;
    height: 30px;
    padding: 0;
}

.head-row .container .head .head-box > a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

 /*头像*/
.head-row .container .head .head-box > img {
    display: block;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 25px;
}

/*用户名*/
.head-row .container .head .head-box .head-user-name {
    position: relative;
    top: -25px;
    left: 40px;
    width: 60px;

    overflow: hidden;  
    /*文本不换行*/  
    white-space: nowrap;  
    /*文字超出用省略号*/  
    text-overflow:ellipsis;
}

.head-row .container .head .head-box .head-box-style {
    display: block;
  
    width: 80%;
    height: 30px;
    margin-left: 10%;
    line-height: 30px;

    background: #5a9ad7;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}