@charset "UTF-8";
/**
 * 
 * @authors Zheng Liu (995170241@qq.com)
 * @date    2018-06-06 16:34:38
 * @version $Id$
 */

.page {
    min-width: 1000px;
    height: 1000px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.page .main {
    height: 940px;
    padding: 0;
    margin: 0;
}

.head-box-searchbtn {
    border: 0;
}

.page .main .main-left {
    height: 800px;
    padding: 0;
    margin-left: 25px;
}

.page .main .main-left-cover {
    margin-top: 25px;
    height: 300px;
    width: 200px;
    background-image: url("../img/icons.png");
}

.page .main .main-left-info {
    margin-top: 50px;
    height: 300px;
}

.page .main .main-left-info > div {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.page .main .main-left-info > span {
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.page .main .main-left-button > button {
    position: relative;
    left: 8px;
    top: 293px;

    width: 100px;
    height: 36px;
    background: #5a9ad7;
    color: #fff;
    line-height: 36px;
    text-align: center;
    border: 0;
}

.page .main .main-left-button > div > input {
    width: 200px;
    height: 36px;
}

.page .main .main-left-introduce {
    margin-top: 20px;
    height: 500px;
    border: 1px solid #ccc;
}

.page .main .main-right > ul {
    position: relative;
    top: 50px;
    width: 100%;
    list-style-type: none;
}

.page .main .main-right > ul > li .second {
    position: relative;

    width: 80px;
    height: 40px;
    padding: 10px;
    float: left;
    background: #5a9ad7;
    display: none;
    color: #fff;
    text-align: center;
}